h3 {
    text-shadow:2px 2px 3px darkslategrey;
    background: linear-gradient(to right, RGB(236, 234, 240) , white);
}
.light {
    color: #d3d3d3;
    font-weight: 200;
}
.pd {
    font-size: large;
}
.skills {
    text-indent: 10px;
    line-height: 40px
}
.addskills {
    text-indent: 20px;
}
@media print {
    .doNotPrint {
        display: none;
    }
}